<launch>
  <arg name="base" value="mayo" />
    <rosparam file="$(eval find('gummi_description_' + base) + '/dynamixel/biceps.yaml')" command="load"/>
    <node name="biceps_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_d
                biceps_controller"
          output="screen"/>


    <rosparam file="$(eval find('gummi_description_' + base) + '/dynamixel/triceps.yaml')" command="load"/>
    <node name="triceps_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_d
                triceps_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_description_' + base) + '/dynamixel/elbow_encoder.yaml')" command="load"/>
    <node name="elbow_encoder_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_ae
                elbow_encoder_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_description_' + base) + '/dynamixel/forearm_roll.yaml')" command="load"/>
    <node name="forearm_roll_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_d
                forearm_roll_controller"
          output="screen"/>

   <rosparam file="$(eval find('gummi_description_' + base) + '/dynamixel/hand_close.yaml')" command="load"/>
    <node name="hand_close_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_d
                hand_close_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_description_' + base) + '/dynamixel/wrist_flexor.yaml')" command="load"/>
    <node name="wrist_flexor_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_d
                wrist_flexor_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_description_' + base) + '/dynamixel/wrist_extensor.yaml')" command="load"/>
    <node name="wrist_extensor_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_d
                wrist_extensor_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_description_' + base) + '/dynamixel/wrist_encoder.yaml')" command="load"/>
    <node name="wrist_encoder_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_ae
                wrist_encoder_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_description_' + base) + '/dynamixel/upperarm_roll.yaml')" command="load"/>
    <node name="upperarm_roll_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_d
                upperarm_roll_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_description_' + base) + '/dynamixel/shoulder_abductor.yaml')" command="load"/>
    <node name="shoulder_abductor_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_d
          	shoulder_abductor_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_description_' + base) + '/dynamixel/shoulder_adductor.yaml')" command="load"/>
    <node name="shoulder_adductor_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_d
                shoulder_adductor_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_description_' + base) + '/dynamixel/horizontal_abductor.yaml')" command="load"/>
    <node name="horizontal_abductor_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_d
                horizontal_abductor_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_description_' + base) + '/dynamixel/horizontal_adductor.yaml')" command="load"/>
    <node name="horizontal_adductor_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_d
                horizontal_adductor_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_description_' + base) + '/dynamixel/shoulder_pitch_encoder.yaml')" command="load"/>
    <node name="shoulder_pitch_encoder_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_se
                shoulder_pitch_encoder_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_description_' + base) + '/dynamixel/shoulder_flexor.yaml')" command="load"/>
    <node name="shoulder_flexor_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_d
                shoulder_flexor_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_description_' + base) + '/dynamixel/shoulder_extensor.yaml')" command="load"/>
    <node name="shoulder_extensor_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_d
                shoulder_extensor_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_description_' + base) + '/dynamixel/shoulder_roll_encoder.yaml')" command="load"/>
    <node name="shoulder_roll_encoder_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_se
                shoulder_roll_encoder_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_description_' + base) + '/dynamixel/shoulder_yaw_encoder.yaml')" command="load"/>
    <node name="shoulder_yaw_encoder_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_se
                shoulder_yaw_encoder_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_description_' + base) + '/dynamixel/dial_needle.yaml')" command="load"/>
    <node name="dial_needle_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_se
                dial_needle_controller"
          output="screen"/>

</launch>
